<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The first python template</title>
    <style>
      * {
        font-family: "Courier New", Courier, monospace;
        /* font-size: 5rem; */
        text-transform: uppercase;
      }
    </style>
    <!-- <link rel="stylesheet" href="./style.css"> -->
  </head>
  <body>
    <p>
      <a href="{% url 'learning_logs:index' %}">Learning Logs</a> -
      <a href="{% url 'learning_logs:topics' %}">Topics</a>
    </p>
    <input type="color" name="" id="" />
    {% block content %}{% endblock content %}

    <script>
      const i = document.querySelector("input");
      i.addEventListener("change", (e) => {
        document.body.style.backgroundColor = e.target.value;
      });
    </script>
  </body>
</html>
